In [1]:
import numpy as np
import pandas as pd
import graphviz
from sklearn import tree
from sklearn.metrics import accuracy_score
DATA=pd.read_csv('Data_for_UCI_named.csv', delimiter = ',')
DATA

          tau1      tau2      tau3  ...        g4      stab     stabf
0     2.959060  3.079885  8.381025  ...  0.958034  0.055347  unstable
1     9.304097  4.902524  3.047541  ...  0.781760 -0.005957    stable
2     8.971707  8.848428  3.046479  ...  0.109853  0.003471  unstable
3     0.716415  7.669600  4.486641  ...  0.362718  0.028871  unstable
4     3.134112  7.608772  4.943759  ...  0.820923  0.049860  unstable
...        ...       ...       ...  ...       ...       ...       ...
9995  2.930406  9.487627  2.376523  ...  0.608385  0.023892  unstable
9996  3.392299  1.274827  2.954947  ...  0.366120 -0.025803    stable
9997  2.364034  2.842030  8.776391  ...  0.145984 -0.031810    stable
9998  9.631511  3.994398  2.757071  ...  0.818391  0.037789  unstable
9999  6.530527  6.781790  4.349695  ...  0.942631  0.045263  unstable

[10000 rows x 14 columns]

In [2]:
print(DATA.shape)
DATA[0:]
DATA.columns

(10000, 14)

Index(['tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2',
       'g3', 'g4', 'stab', 'stabf'],
      dtype='object')

In [12]:
DATA.describe()

               tau1          tau2  ...            g4          stab
count  10000.000000  10000.000000  ...  10000.000000  10000.000000
mean       5.250000      5.250001  ...      0.525000      0.015731
std        2.742548      2.742549  ...      0.274255      0.036919
min        0.500793      0.500141  ...      0.050028     -0.080760
25%        2.874892      2.875140  ...      0.287494     -0.015557
50%        5.250004      5.249981  ...      0.525002      0.017142
75%        7.624690      7.624893  ...      0.762433      0.044878
max        9.999469      9.999837  ...      0.999930      0.109403

[8 rows x 13 columns]

In [13]:
DATA.sum().isna()

tau1     False
tau2     False
tau3     False
tau4     False
p1       False
p2       False
p3       False
p4       False
g1       False
g2       False
g3       False
g4       False
stab     False
stabf    False
dtype: bool

In [14]:
DATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [3]:
input=np.zeros((10000,13))

## input and output

In [4]:
input[0:,0]=DATA['tau1']
input[:,1]=DATA['tau2']
input[:,2]=DATA['tau3']
input[:,3]=DATA['tau4']
input[:,4]=DATA['p1']
input[:,5]=DATA['p2']
input[:,6]=DATA['p3']
input[:,7]=DATA['p4']
input[:,8]=DATA['g1']
input[:,9]=DATA['g2']
input[:,10]=DATA['g3']
input[:,11]=DATA['g4']
input[:,12]=DATA['stab']

In [5]:
output=np.zeros((10000,0))

In [6]:
output=DATA['stabf']

In [7]:
train=input[0:7000]

In [8]:
test=input[7000:10000]

In [9]:
classNames=np.array(['stable','unstable'])
featureNames=np.array(['tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2','g3', 'g4', 'stab'])
print( "Training the Decision tree...")
clf = tree.DecisionTreeClassifier()
clf = clf.fit(train, output[0:7000])
dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render("train") 
dot_data = tree.export_graphviz(clf, out_file=None, 
                         feature_names=featureNames,  
                         class_names=classNames,  
                         filled=True, rounded=True,  
                         special_characters=True)  
graph = graphviz.Source(dot_data)  
print(clf.score(test, output[7000:10000])*100)
graph

Training the Decision tree...
100.0

In [10]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, solver='lbfgs',
                         multi_class='multinomial').fit(train, output[0:7000])

clf.score(test, output[7000:10000])*100

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

90.4